@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

:root {
    --bg-vermelho: red;
    --hover-vermelho: rgba(255, 0, 0, 0.7);
    --bg-laranja: orange;
    --hover-laranja: rgb(255, 165, 0, 0.7);
    --bg-amarelo: yellow;
    --hover-amarelo: rgb(255, 255, 0, 0.7);
    --bg-verde: green;
    --hover-verde: rgb(0, 128, 0, 0.7);
    --bg-azul: lightblue;
    --hover-azul: rgb(173, 216, 230, 0.7);
    --bg-anil: blue;
    --hover-anil: rgb(0, 0, 255, 0.7);
    --bg-violeta: purple;
    --hover-violeta: rgb(128, 0, 128, 0.7);

    --bg-body: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

    --font-base: 'Rammetto One', sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: var(--bg-body);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-base);
    color: white;
}

.won {
    color: gold;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 50px;
    opacity: 0;
}

.won-text {
    animation: won-text 1s;
}

@keyframes won-text {
    0% {
        opacity: 1;
    }
    25% {
        opacity: .75;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .25;
    }
    100% {
        opacity: 0;
    }
}

.container, .labels  {
    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labels {
    height: 5vh;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.label {
    width: 80px;
    text-align: center;
    font-size: 20px;
}

.rainbow {
   height: 70px;
   width: 80px;
   
   display: flex;
   justify-content: center;
   align-items: center;

   border-radius: 50%;
}

.button {
    border-style: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: center;
    font-family: var(--font-base);
    visibility: hidden;
    -webkit-box-shadow: 1px 1px 23px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 23px 2px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 23px 2px rgba(0,0,0,0.5);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.668);
}

.roll-out-left {
	animation: roll-out-left 0.6s ease-in both;
    visibility: visible;
}

.roll-out-left-reverse {
	animation: roll-out-left 0.6s ease-in reverse both;
    visibility: visible;
}

@keyframes roll-out-left {
    0% {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateX(-1000px) rotate(-540deg);
      opacity: 0;
    }
}

@keyframes roll-out-left-reverse {
    0% {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateX(-1000px) rotate(-540deg);
      opacity: 0;
    }
}

.vermelho {
    background-color: var(--bg-vermelho);
}

.vermelho:hover {
    background-color: var(--hover-vermelho);
}

.laranja {
    background-color: var(--bg-laranja);
}

.laranja:hover {
    background-color: var(--hover-laranja);
}

.amarelo {
    background-color: var(--bg-amarelo);
}

.amarelo:hover {
    background-color: var(--hover-amarelo);
}

.verde {
    background-color: var(--bg-verde);
}

.verde:hover {
    background-color: var(--hover-verde);
}

.azul {
    background-color: var(--bg-azul);
}

.azul:hover {
    background-color: var(--hover-azul);
}

.anil {
    background-color: var(--bg-anil);
}

.anil:hover {
    background-color: var(--hover-anil);
}

.violeta {
    background-color: var(--bg-violeta);
}

.violeta:hover {
    background-color: var(--hover-violeta);
}
